.custom-button {
    background-color: #c5a063;
    border: 2px solid #8d4909; 
    color: white; 
    padding: 13px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-family:fantasy;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    left: 10em;
    top: 10em;
  }
  
  .custom-button:hover {
    background-color: #b29058; 
  }

  .custom-choice-file {
    background-color: #c5a063; 
    border: 2px solid #8d4909; 
    color: white; 
    padding: 13px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-family:fantasy;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    left: 23em;
    top: 7em;
  }
  .progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 20px;
    position: relative;
  }
  
  .progress {
    background-color: #4caf50;
    height: 100%;
    width: 0;
    transition: width 0.4s;
  }
  @media (max-width: 480px) {
    .custom-button {
        position: relative;
        left: 12em; 
        transform: translateX(-50%); 
        top: 20em; 
        font-size: 16px;
      }

    .custom-choice-file {
        position: relative;
        left: 11.6em; 
        transform: translateX(-50%);
        top: 20em; 
        font-size: 1em;
    }
    .progress-bar {
      width: 100%;
      background-color: #f3f3f3;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 10px;
      height: 20px;
      position: relative;
      top: 19em;
    }
    
    .progress {
      background-color: #4caf50;
      height: 100%;
      width: 0;
      transition: width 0.4s;
    }
    .progress-div{
      position: relative;
      top: 15em;
    }
    .custom-informative-text{
      position: relative;
      left: 0em;
      top:38em;
      color: rgb(107, 78, 34);
      white-space: nowrap;
      padding-bottom: 2em;
      
  }
}


